.blog{
    background-color: $darkGrey;
    position: relative;
}

// .blogOverlay{
//     background: linear-gradient(45deg, transparent 15%, $mainTeal 15%, transparent 15.5%, transparent 45.5%, $mainRed 46%, transparent 46%);
//     position: absolute; top: 0; right: 0; bottom: 0; left: 0;

// }

.blogGrid{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:  0;
    .blogItem{
        flex-wrap: wrap;
        margin: 30px 10px;
        min-width: 300px;
        width: calc(33.3% - 20px);
    }
}

.blogImage{
    // background-color: purple;
    width: 275px;
    img{
        height: 200px;
    }
}

.blog h2{
    @include headings($h2Size);
    text-align: center;
    margin: 0 auto;
    .h2Span{
        @include redSpan(2px);
    }
}

.blogTitle {
    h4{
        @include headings($h5Size);
        margin: 0;
    }
    h5{
        @include headings($h5Size);
        color:$mainRed;
        margin-top: 10px;
    }
}

@media(max-width: 320px){

.blogImage{
    width: 300px;
    }

    .blogItem{
        margin: 0 auto;
        min-width: 250px;

    }
}


