header{
    background-color: $darkGrey;
    height: 100vh;
    position: relative;
    z-index: 0;
}

// .headerOverlay{
//     background: linear-gradient(-45deg, transparent 20%, $mainRed 20.5%, transparent 21%, transparent 35%, $mainRed 45.5%, transparent 46%);
//     position: absolute; top: 0; bottom: 0; right: 0;
//     width: 650px;
//     z-index: 10;
// }

// .headerOverlay2{
//     background: linear-gradient(45deg, transparent 15%, $mainTeal 15%, transparent 15.5%, transparent 20%, $mainTeal 25.5%, $mainTeal 26%, transparent 27%);
//     position: absolute; top: 0; bottom: 0; left: 0;
//     width: 500px;
//     z-index: 10;
// }

.headerText{
    position: absolute; bottom: 250px;
}

h1{
    color: $mainWhite;
    font-family: $mainFont;
    font-size: $h1Size;
    font-weight: lighter;
    letter-spacing: 5px;
    text-transform: uppercase;
    .h1Red{
        color: $mainRed;
        display: block;
        font-size: $para;
        letter-spacing: 3px;
        margin: 10px 0;
    }
}

.tagline{
    color: $mainGrey;
    font-family: $mainFont;
    font-size: $h6Size;
    font-weight: lighter;
    letter-spacing: 5px;
    text-transform: uppercase;
    .tagRed{
        color: $mainRed;
    }
}

.logo{
    align-items: center;
    border: 2px solid $mainRed;
    display: flex;
    height: 35px;
    justify-content: center;
    margin: 20px;
    transform: rotate(45deg);
    width: 35px;
    p{
        @include headings($para);
        color: $mainRed;
        transform: rotate(-45deg);
    }
}