.logo{
    color: $mainRed;
}

.topBar{
    display: flex;
    font-family: $mainFont;
    font-size: $para;
    justify-content: space-between;
    text-transform: uppercase;
    a{
        color: $mainWhite;
        margin: 0 10px;
        &:hover{
            color: $mainRed;
        }
    }
}

nav,
.siteNav,
.socialNav{
    display: flex;
}