.navigationBar{
    display: flex;
    // justify-content: space-between;
}


.topBar{
    background-color: $darkGrey;
    display: flex;
    font-family: $mainFont;
    font-size: $para;
    justify-content: space-between;
    text-transform: uppercase;
        z-index: 30;
    a{
        color: $mainWhite;
        margin: 10px 10px;
        &:hover{
            color: $mainRed;
        }
    }
}

nav,
.siteNav{
    align-items: center;
    display: flex;
    padding-right: 30px;
}

.socialNav{
    flex-direction: column;
    margin: 15px 10px;
    position: fixed; top: 50%; right:0;
    z-index: 30;
    a{
        color: $mainWhite;
        margin: 10px;
        &:hover{
            color: $mainRed;
        }
    }
}

.icon{
    font-size: 2rem;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

.toggle-button{
    display: none;
}

.mobileMenu{
    display: none;
}

@media (max-width: 1200px){} 
@media (max-width: 950px){
    .topBar{
        font-size: $paraSmall;
    }
} 
@media (max-width: 800px){

    .topBar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav,
    .siteNav{
        padding: 0;
    }
} 
@media (max-width: 690px){

    .topBar{
        font-size: $para;
    }

    .desktopNav{
        display: none;
    }

    .mobileMenu{
        flex-direction: column;
        display: none;
        li{
            box-shadow: -1px -1px 1px $mainRed;
            padding: 10px 0;
            width: 200px;
        }
    }
    .toggle-button{
        background-color: transparent;
        border: none;
        box-shadow: 1px 1px 1px $mainRed;
        color: $mainRed;
        display: block;
        letter-spacing: 1px;
        padding: 5px 15px;
    }

} 

@media (max-width: 320px){
    .socialNav{
   
        position: fixed; top: 30%; right:-5%;
        z-index: 30;

    }
}