.projects{
    background-color: $darkGrey;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    h2{
        @include headings($h2Size);
        .h2Span{
            @include redSpan(2px);
        }
    }
}

h3{
    @include headings($h3Size);
}

.project1Text{
    margin-right: 30px;
    width: calc(50% - 30px);
}

.projectTags{
    display: flex;
    flex-direction: column;
    .projectTagItem{
        font-family: $bodyFont;
        font-size: $para;
        letter-spacing: 2px;
        line-height: 1.5;
        text-transform: uppercase;
    }
}


.projectLinks {
    display:flex;
    a{
        border: 1px solid $mainWhite;
        color:$mainWhite;
        font-family: $bodyFont;
        font-size: $para;
        letter-spacing: 2px;
        line-height: 2;
        margin-right: 20px;
        padding: 5px;
        text-transform: uppercase;
    }
}

.projectText{
    width: 50%;
}

.projectDescription{
    display: flex;
}



.introDescription{
    justify-content: space-between;
    .introScreen{
        border: 20px solid #000;
        border-radius: 20px;
        box-shadow: 0px 0px 30px 10px $mainRed, 0px 0px 45px 15px $mainTeal, ;
        height: auto;
        margin: 20px 0;
        width: auto;
        padding: 3%;
    }
}

.visuals{
    display:flex;
    position: relative;
    width: 50%;
    .mobile{
        border: 15px solid #000;
        border-radius: 20px;
        height: 250px;
        margin: 30px;
        width: 150px;
        padding: 2%;
    }
    .laptop{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
        .desktopScreen{
            border: 20px solid #000;
            border-radius: 20px;
            height: 250px;
            margin: 30px 0;
            width: 400px;
            padding: 2%;
        }
        .desktopKey{
            border: 10px solid #000;
            border-radius: 20px;
            margin: 10px;
            width: 450px;
            padding: 0;
        }
    }
}

.project6{
    @include projects();
    .project6Tag{
        color: $mainRed;
    }
    .project6Mobile{
        background: url("../assets/project6_mobile.png");
        background-size: cover;
        box-shadow: 0px 0px 30px 5px $mainRed;
        position: absolute; bottom: -10%; right: 0%;
        z-index: 20;
    }
    .project6Laptop{
        position: absolute; right: 5%;
        .project6Screen{
            background: url("../assets/project6_desktop.png");
            background-size: cover;
            box-shadow: 0px 0px 30px 5px $mainRed;
        }
        .project6Key{
            box-shadow: 0px 0px 30px 5px $mainRed;
        }
    }
}

.project6Links a:hover{
    box-shadow: 0px 0px 30px 5px $mainRed;
}
.project4Links a:hover{
    box-shadow: 0px 0px 30px 5px $mainTeal;
}
.project1Links a:hover{
    box-shadow: 0px 0px 30px 5px $mainRed;
}

.project4{
    @include projects();
    .project4Tag{
        color: $mainTeal;
    }
    .project4Mobile{
        background: url("../assets/project4_mobile.png");
        background-size: cover;
        box-shadow: 0px 0px 30px 5px $mainTeal;
        position: absolute; bottom: -10%; right: 55%;
        z-index: 20;
    }
    .project4Laptop{
        position: absolute; right: 0;
         .project4Screen{
            background: url("../assets/project4_desktop.png");
            background-size: cover;
            box-shadow: 0px 0px 30px 5px $mainTeal;
        }
        .project4Key{
            box-shadow: 0px 0px 30px 5px $mainTeal;
        }
    }
   
}

.project1{
    @include projects();
    .project1Tag{
        color: $mainRed;
    }
    .project1Mobile{
        background: url("../assets/project1_mobile.png");
        background-size: cover;
        box-shadow: 0px 0px 30px 5px $mainRed;
        position: absolute; bottom: -25%; right: 55%;
        z-index: 20;
    }
    .project1Laptop{
        position: absolute; right: 0;
         .project1Screen{
            background: url("../assets/project1_desktop.png");
            background-size: cover;
            box-shadow: 0px 0px 30px 5px $mainRed;
        }
        .project1Key{
            box-shadow: 0px 0px 30px 5px $mainRed;
        }
    }
   
}



