.projects{
    background-color: $mainBlack;
    height: 100vh;
}

.project1{
    background-color: $mainWhite;
    box-shadow: 0px 0px 30px 20px $mainTeal;
    border: 20px solid #000;
    border-radius: 20px;
    height: 500px;
    margin: 30px;
    width: 300px;
    padding: 2%;
}