.projects{
    background-color: $darkGrey;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    h2{
        @include headings($h2Size);
        .h2Span{
            @include redSpan(2px);
        }
    }
}

h3{
    @include headings($h3Size);
    margin: 20px 0;
}

.projectTags{
    display: flex;
    flex-direction: column;
    .projectTagItem{
        font-family: $bodyFont;
        font-size: $para;
        letter-spacing: 2px;
        line-height: 1.5;
        text-transform: uppercase;
    }
}

.projectLinks {
    display:flex;
    a{
        border: 1px solid $mainWhite;
        color:$mainWhite;
        font-family: $bodyFont;
        font-size: $para;
        letter-spacing: 2px;
        line-height: 2;
        margin-right: 20px;
        padding: 5px;
        text-transform: uppercase;
    }
}

.introDescription{
    justify-content: space-between;
    .introScreen{
        border: 20px solid #000;
        border-radius: 20px;
        box-shadow: 0px 0px 30px 10px $mainRed, 0px 0px 45px 15px $mainTeal, ;
        height: auto;
        margin: 20px 0;
        width: auto;
        padding: 3%;
    }
}

.projectDescription{
    display: flex;

    .projectText{
        flex-basis: 45%;
        flex-shrink: 1;
        margin-right: 30px;
        // min-width: 500px;
    }
    .visuals{
        display:flex;
        flex-basis: 45%;
        flex-shrink: 1;
        position: relative;
        // min-width: 500px;
    }
}

.visuals{
    position: relative;
    background-color: blue;
    .visuals1{
        border: 1px solid white;
        width: 400px;
        height: 400px;
        position: relative; left: 0%;
        transform: rotate(45deg);
        overflow: hidden;
        .visualsBackground{
            // background:url("../assets/project4_desktop.png");
            background-size: cover;
            // background-position: center center;
            width: 800px;
            height: 800px;
            position: relative; top: -30%; right: 70%;
            transform: rotate(-45deg);
        }
    }
    .visuals2{
        // background:url("../assets/project4_title.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        // border: 1px solid white;
        margin-top: 250px;
        width: 400px;
        height: 100px;
        position: absolute;
        // transform: rotate(45deg);
    }
}

// .visuals{
//     position: relative;
//     background-color: blue;
//     .project3Visuals1{
//         border: 1px solid white;
//         width: 400px;
//         height: 400px;
//         position: relative; left: 10%;
//         transform: rotate(45deg);
//         overflow: hidden;
//         .project3background{
//             // background:url("../assets/project4_desktop.png");
//             background-size: cover;
//             // background-position: center center;
//             width: 800px;
//             height: 800px;
//             position: relative; top: -30%; right: 70%;
//             transform: rotate(-45deg);
//         }
//     }
//     .project3Visuals2{
//         // background:url("../assets/project4_title.png");
//         background-size: contain;
//         background-position: center center;
//         background-repeat: no-repeat;
//         // border: 1px solid white;
//         margin-top: 250px;
//         width: 400px;
//         height: 100px;
//         position: absolute;
//         // transform: rotate(45deg);
//     }
// }


.project5Links a:hover{
    box-shadow: 0px 0px 30px 5px $mainTeal;
}


.project6Links a:hover{
    box-shadow: 0px 0px 30px 5px $mainRed;
}


.project4Links a:hover{
    box-shadow: 0px 0px 30px 5px $mainTeal;
}


.project1Links a:hover{
    box-shadow: 0px 0px 30px 5px $mainRed;
}

@media (max-width: 1300px){



     .projectLinks {
    display:flex;
    flex-direction: column;
        li{
            margin-bottom: 5px;

        }
}

@media (max-width: 1100px){
    .projectText{
        width: 100%;
    }

    .projectTags{
        flex-direction: row;
        flex-wrap: wrap;
         .projectTagItem{
            margin-right: 10px;
            padding: 3px 5px;
        }
    }
    
    .projectDescription{
        flex-direction: column;
    }

    .visuals{
        margin: 0 auto;
    }

     .project5{
        .project5Mobile1{
            position: absolute; bottom: 0%; right: 25%;

        }
        .project5Mobile2{
            position: absolute; bottom: 10%; right: 60%;
        }
        .project5Laptop{
            position: relative; right: -65%;
        }
    }
    
    .project6{
        .project6Mobile{      
            position: absolute; bottom: 10%; right: 25%;
        }
        .project6Laptop{
            position: relative; right: -65%;
        }
    }
    
    .project4{  
        .project4Mobile{    
            position: absolute; bottom: 10%; right: 25%;
        }
        .project4Laptop{
            position: relative; right: -65%;
    }
    }

    .project3{

    .project3Mobile{
         position: absolute; bottom: 10%; right: 25%;
    }
    .project3Laptop{
        position: relative; right: -65%;
    }
    }
    .project1{

    .project1Mobile{
         position: absolute; bottom: 10%; right: 25%;
    }
    .project1Laptop{
        position: relative; right: -70%;
    }
    }

    
}


} 

@media(max-width:1100px){

    .projectItem{
        margin-top: 70px;
    }
    .visuals{
        top: -20px;
    }

}

@media (max-width: 700px){

    .visuals{  
        top: -10px;
        .visuals1{
            // border: 1px solid white;
            width: 350px;
            height: 350px;
            
        }
        .visuals2{

            border: 1px solid white;
            margin-top: 250px;
            width: 350px;
            height: 100px;
            

        }
    }

    .projectTags{
    display: flex;
    flex-direction: column;
    .projectTagItem{
        font-family: $bodyFont;
        font-size: $paraSmall;
        letter-spacing: 2px;
        line-height: 1.2;
        text-transform: uppercase;
    }
}


}

@media (max-width: 600px){

     .visuals{
        top: 50px;
    }
    .projectItem{
        margin-top: 100px;
    }
    
} 
@media (max-width: 550px){
   

    .visuals{  
        .visuals1{
           
            width: 300px;
            height: 300px;
        }
        .visuals2{
            border: 1px solid white;
            margin-top: 200px;
            width: 300px;
            height: 100px;
        }
    }

    .projectItem{
        margin-top: 150px;
    }

    h3{
        margin: 0;
    }
   

}

@media (max-width: 435px){
    .visuals{  

        .visuals1{          
            width: 250px;
            height: 250px;
        }
        .visuals2{
            border: 1px solid white;
            margin-top: 150px;
            width: 250px;
            height: 100px;
        }
    }

    .projectItem{
        margin-top: 150px;
    }
}
 
@media (max-width: 355px){
    .visuals{  
        .visuals1{
          
            width: 225px;
            height: 225px;
        }
        .visuals2{
            border: 1px solid white;
            margin-top: 100px;
            width: 225px;
            height: 100px;
        }
    }

    .projectItem{
        margin-top: 150px;
    }
}
