// COLOURS

$mainBlack: #272727;
$mainRed:  #E84855;
$mainWhite: #c9c9c9;
$mainGrey: #838383;

// FONTS

$mainFont: 'Quicksand', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

$h1Size: 2.99rem;

$h2Size: 2.49rem;

$h3Size: 2.07rem;    

$h4Size: 1.73rem;

$h5Size: 1.44rem;

$h6Size: 1.20rem;

$para: 1.00rem;

$paraSmall: 0.83rem;