// COLOURS

$mainBlack: #141414;
$mainRed:  #E84855;
$mainWhite: #fff5f5;
$mainGrey: #838383;
$mainTeal: #00B4A3;
$darkGrey: #212121;

// FONTS

$mainFont: 'Quicksand', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

$h1Size: 2.99rem;

$h2Size: 2.49rem;

$h3Size: 2.07rem;    

$h4Size: 1.73rem;

$h5Size: 1.44rem;

$h6Size: 1.20rem;

$para: 1.1rem;

$paraSmall: 0.83rem;

@mixin headings($size){
    color: $mainWhite;
    font-family: $mainFont;
    font-size: $size;
    font-weight: lighter;
    letter-spacing: 3px;
}

@mixin redSpan($spacing){
    color: $mainRed;
    display: block;
    font-size: $para;
    letter-spacing: $spacing;
    margin: 10px 0;
}

@mixin projects(){
    display:flex;
    flex-direction: column;
    margin: 40px 0;
    position: relative;
}