article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
}

p {
  color: #fff5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.75;
}

.wrapper {
  padding: 0 175px;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 0 125px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    padding: 0 100px;
  }
}

@media (max-width: 690px) {
  .wrapper {
    padding: 0 75px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 0 50px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    padding: 0 35px;
  }
}

header {
  background-color: #212121;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.headerText {
  position: absolute;
  bottom: 250px;
}

h1 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.99rem;
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h1 .h1Red {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 3px;
  margin: 10px 0;
}

.tagline {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 3px;
  margin: 10px 0;
  text-transform: uppercase;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #E84855;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 40px;
}

.logo p {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #E84855;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 690px) {
  .h1span {
    display: block;
  }
  .headerText {
    position: absolute;
    bottom: 200px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.07rem;
  }
  h1 .h1Red {
    display: block;
    font-size: 0.83rem;
  }
  .block {
    display: block;
  }
  .headerText {
    position: absolute;
    bottom: 125px;
  }
}

.navigationBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topBar {
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  z-index: 30;
}

.topBar a {
  color: #fff5f5;
  margin: 10px 10px;
}

.topBar a:hover {
  color: #E84855;
}

nav,
.siteNav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialNav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 10px;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 30;
}

.socialNav a {
  color: #fff5f5;
  margin: 10px;
}

.socialNav a:hover {
  color: #E84855;
}

.icon {
  font-size: 2rem;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.toggle-button {
  display: none;
}

.mobileMenu {
  display: none;
}

@media (max-width: 1000px) {
  .topBar a {
    color: #fff5f5;
    margin: 10px 5px;
  }
  .topBar a:hover {
    color: #E84855;
  }
}

@media (max-width: 950px) {
  .topBar {
    font-size: 0.83rem;
  }
}

@media (max-width: 800px) {
  .topBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav,
  .siteNav {
    padding: 0;
  }
}

@media (max-width: 690px) {
  .topBar {
    font-size: 1.1rem;
  }
  .desktopNav {
    display: none;
  }
  .mobileMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .mobileMenu li {
    -webkit-box-shadow: -1px -1px 1px #E84855;
            box-shadow: -1px -1px 1px #E84855;
    padding: 10px 0;
    width: 200px;
  }
  .toggle-button {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: 1px 1px 1px #E84855;
            box-shadow: 1px 1px 1px #E84855;
    color: #E84855;
    display: block;
    letter-spacing: 1px;
    padding: 5px 15px;
  }
}

@media (max-width: 320px) {
  .socialNav {
    position: fixed;
    top: 30%;
    right: -5%;
    z-index: 30;
  }
}

.about {
  background-color: #212121;
  padding: 100px 0;
  position: relative;
  z-index: 0;
}

.aboutWrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
}

.aboutWrapper .headShot {
  margin-right: 25px;
  min-width: 225px;
  width: calc(30% - 25px);
  z-index: 20;
}

.aboutWrapper .bio {
  color: #fff5f5;
  margin-left: 25px;
  width: calc(60% - 25px);
  z-index: 20;
}

.bio h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
}

.bio h2 .h2Span {
  color: #E84855;
  display: block;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.bio p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.75;
}

.bio .bioSpan a {
  color: #E84855;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bio .bioSpan a:focus, .bio .bioSpan a:hover {
  text-shadow: 1px 1px 1px #E84855;
}

.bio .redBio {
  display: block;
}

@media (max-width: 950px) {
  .aboutWrapper .headShot {
    width: calc(25% - 25px);
  }
  .aboutWrapper .bio {
    width: calc(75% - 25px);
  }
}

@media (max-width: 800px) {
  .aboutWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutWrapper .headShot {
    margin: 0 auto;
  }
  .aboutWrapper .bio {
    width: calc(100%);
  }
}

.skillsWrapper {
  background-color: #212121;
  margin: 0 auto;
  padding-top: 100px;
}

.skillsWrapper h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 0 auto;
  text-align: center;
}

.skillFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillFlex .skillsItem {
  min-width: 250px;
  width: calc(100% / 3);
}

.skillFlex .skillsItem button,
.skillFlex .skillsItem ul {
  white-space: nowrap;
  word-wrap: none;
  font-family: "Quicksand", sans-serif;
  width: 100%;
}

.skillsItem li {
  border-bottom: 1px solid #E84855;
  color: #fff5f5;
  padding: 10px;
  width: 100%;
}

.skillsTools,
.skillsLiteral,
.skillsUseless {
  display: none;
}

.item * {
  visibility: visible;
}

@media (max-width: 850px) {
  .skillFlex .skillsItem {
    min-width: 250px;
    width: calc(100% / 2);
  }
  .skillFlex .skillsItem ul {
    white-space: nowrap;
    word-wrap: none;
    font-family: "Quicksand", sans-serif;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .skillFlex .skillsItem {
    min-width: 250px;
    width: calc(100%);
  }
  .skillFlex .skillsItem ul {
    white-space: nowrap;
    word-wrap: none;
    font-family: "Quicksand", sans-serif;
    width: 100%;
  }
}

.projects {
  background-color: #212121;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.projects h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 0 auto;
}

.projects h2 .h2Span {
  color: #E84855;
  display: block;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.projectItem {
  margin-top: 100px;
}

h3 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.07rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 20px 0;
}

.projectTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectTags .projectTagItem {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
}

.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectLinks a {
  border: 1px solid #fff5f5;
  color: #fff5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 2;
  margin-right: 20px;
  padding: 5px;
  text-transform: uppercase;
}

.introDescription {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introDescription .introScreen {
  height: auto;
  margin: 20px 0;
}

.projectDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectDescription .projectText {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 30px;
}

.projectDescription .visuals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.visuals {
  position: relative;
}

.visuals .visuals1 {
  border: 1px solid #fff5f5;
  width: 400px;
  height: 400px;
  position: relative;
  left: 15%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 5px #fff5f5;
          box-shadow: 0px 0px 15px 5px #fff5f5;
}

.visuals .visuals1 .visualsBackground {
  background-size: cover;
  width: 800px;
  height: 800px;
  position: relative;
  top: -30%;
  right: 70%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.visuals .visuals2 {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 250px;
  width: 400px;
  height: 100px;
  position: absolute;
  left: 15%;
}

.visuals .project5Visuals1 {
  background: url("../assets/project5_mobile1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.visuals .project5Visuals1 .project5background {
  background: url("../assets/project5_mobile2.png");
  background-size: 350px;
  background-position: center center;
  background-repeat: no-repeat;
}

.visuals .project5Visuals2 {
  background-color: greenyellow;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
}

.visuals .project6Visuals1 {
  background: url("../assets/project6_desktop.png");
}

.visuals .project6Visuals2 {
  background: url("../assets/project6_title.png");
  background-color: #00578c;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 250px;
  text-align: center;
}

.visuals .project4Visuals1 .project4background {
  background: url("../assets/project4_desktop.png");
  background-size: cover;
  width: 800px;
  height: 800px;
}

.visuals .project4Visuals2 {
  background-color: #00578c;
  margin-top: 250px;
  text-align: center;
}

.visuals .project4Visuals2 h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 2.5rem;
  color: #fff5f5;
  margin: 15px auto;
  word-wrap: none;
  white-space: nowrap;
}

.visuals .project3Visuals1 .project3background {
  background: url("../assets/project3_desktop.png");
  background-size: cover;
  background-position: -300px -100px;
  background-repeat: no-repeat;
  width: 900px;
  height: 700px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.visuals .project3Visuals2 {
  background: url("../assets/project3_title.png");
  background-color: #77370a;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 250px;
  text-align: center;
}

.visuals .project1Visuals1 .project1background {
  background: url("../assets/project1_desktop.png");
  background-size: cover;
  background-position: -350px 00px;
  background-repeat: no-repeat;
  width: 900px;
  height: 700px;
}

.visuals .project1Visuals2 {
  background-color: #141414;
  margin-top: 250px;
  text-align: center;
}

.visuals .project1Visuals2 h2 {
  font-family: 'Italiana', serif;
  font-size: 3rem;
  color: #fff5f5;
  margin: 15px auto;
  text-transform: uppercase;
}

.projectInfo .project5Tag {
  color: #00B4A3;
}

.projectInfo .project5Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

.projectInfo .project6Tag {
  color: #E84855;
}

.projectInfo .project6Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
}

.projectInfo .project4Tag {
  color: #00B4A3;
}

.projectInfo .project4Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

.projectInfo .project3Tag {
  color: #E84855;
}

.projectInfo .project3Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
}

.projectInfo .project1Tag {
  color: #00B4A3;
}

.projectInfo .project1Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

@media (max-width: 1300px) {
  .projectLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectLinks li {
    margin-bottom: 5px;
  }
}

@media (max-width: 1300px) and (max-width: 1150px) {
  .visuals .visuals1 {
    position: relative;
    left: 0%;
  }
  .visuals .visuals2 {
    position: absolute;
    left: 0%;
  }
}

@media (max-width: 1300px) and (max-width: 1100px) {
  .projectText {
    width: 100%;
  }
  .projectTags {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projectTags .projectTagItem {
    margin-right: 10px;
    padding: 3px 5px;
  }
  .projectDescription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .visuals {
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  .projectItem {
    margin-top: 70px;
  }
  .visuals {
    top: -20px;
  }
}

@media (max-width: 700px) {
  .visuals {
    top: -10px;
  }
  .visuals .visuals1 {
    width: 350px;
    height: 350px;
    left: 0%;
  }
  .visuals .visuals2 {
    border: 1px solid white;
    margin-top: 250px;
    width: 350px;
    height: 100px;
    left: 0%;
  }
  .projectTags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectTags .projectTagItem {
    font-family: "Open Sans", sans-serif;
    font-size: 0.83rem;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}

@media (max-width: 600px) {
  .visuals {
    top: 50px;
  }
  .projectItem {
    margin-top: 100px;
  }
}

@media (max-width: 550px) {
  .projects {
    padding-bottom: 170px;
  }
  .visuals .visuals1 {
    width: 300px;
    height: 300px;
  }
  .visuals .visuals2 {
    border: 1px solid white;
    margin-top: 200px;
    width: 300px;
    height: 100px;
  }
  .projectItem {
    margin-top: 125px;
  }
  h3 {
    margin: 0;
  }
}

@media (max-width: 435px) {
  .visuals .visuals1 {
    width: 250px;
    height: 250px;
  }
  .visuals .visuals2 {
    border: 1px solid white;
    margin-top: 150px;
    width: 250px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .visuals .visuals2 h2 {
    font-size: 1.5rem;
  }
  .projectItem {
    margin-top: 150px;
  }
}

@media (max-width: 355px) {
  .visuals .visuals1 {
    width: 225px;
    height: 225px;
  }
  .visuals .visuals2 {
    border: 1px solid white;
    margin-top: 150px;
    width: 225px;
    height: 100px;
  }
  .projectItem {
    margin-top: 100px 0 50px 0;
  }
}

.blog {
  background-color: #212121;
  position: relative;
}

.blogGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.blogGrid .blogItem {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 10px;
  min-width: 300px;
  width: calc(33.3% - 20px);
}

.blogImage {
  width: 275px;
}

.blog h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.blog h2 .h2Span {
  color: #E84855;
  display: block;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.blogTitle h4 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 0;
}

.blogTitle h5 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #E84855;
  margin-top: 10px;
}

@media (max-width: 1300px) {
  .blogImage {
    width: 100%;
  }
  .blogImage img {
    height: 100%;
  }
  .blogGrid .blogItem {
    width: calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .blog h2 {
    padding-top: 100px;
  }
}

@media (max-width: 320px) {
  .blogImage {
    width: 300px;
  }
  .blogItem {
    margin: 0 auto;
    min-width: 250px;
  }
}

.values {
  background-color: #212121;
  padding: 100px 0;
}

.values h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
}

.values h2 span {
  color: #E84855;
  display: block;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.values h5 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #fff5f5;
  margin: 0;
}

.values h6 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #E84855;
  margin: 20px 0;
}

.valuesGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.valuesGrid .valuesItem {
  width: 50%;
}

.valuesGrid .valuesItem:nth-child(2n) {
  padding-left: 25px;
}

@media (max-width: 500px) {
  .valuesGrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .valuesGrid .valuesItem {
    width: 100%;
  }
  .valuesGrid .valuesItem:nth-child(1n) {
    padding: 10px;
  }
}

.contact {
  background-color: #212121;
}

.contact h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 0;
}

.contact h2 span {
  color: #E84855;
  display: block;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.contact h5 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #E84855;
}

.contactNav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}

.contactNav .contactTitle {
  width: 50%;
}

.contactNav .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.contactNav .contactIcons a {
  color: #fff5f5;
}

.contactNav .contactIcons a:hover {
  color: #E84855;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

input,
textarea {
  margin: 10px 0;
  padding: 5px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #141414;
  font-weight: bolder;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #141414;
  font-weight: bolder;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #141414;
  font-weight: bolder;
}

input::placeholder,
textarea::placeholder {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #141414;
  font-weight: bolder;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 10px #00B4A3;
          box-shadow: 0 0 10px #00B4A3;
}

input, select, textarea {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #212121;
}

@media (max-width: 500px) {
  .contactNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .contactNav h5 {
    margin: 10px 0;
  }
  .contact form {
    width: 100%;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #fff5f5;
    font-family: "Quicksand", sans-serif;
    font-size: 0.83rem;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #141414;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #fff5f5;
    font-family: "Quicksand", sans-serif;
    font-size: 0.83rem;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #141414;
  }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: #fff5f5;
    font-family: "Quicksand", sans-serif;
    font-size: 0.83rem;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #141414;
  }
  input::placeholder,
  textarea::placeholder {
    color: #fff5f5;
    font-family: "Quicksand", sans-serif;
    font-size: 0.83rem;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #141414;
  }
}
/*# sourceMappingURL=styles.css.map */