article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
}

p {
  color: #fff5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
}

.wrapper {
  padding: 0 175px;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: #212121;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.headerText {
  position: absolute;
  bottom: 250px;
}

h1 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.99rem;
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h1 .h1Red {
  color: #E84855;
  display: block;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px 0;
}

.tagline {
  color: #838383;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.tagline .tagRed {
  color: #E84855;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #E84855;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 35px;
}

.logo p {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #E84855;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigationBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topBar {
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  z-index: 30;
}

.topBar a {
  color: #fff5f5;
  margin: 10px 10px;
}

.topBar a:hover {
  color: #E84855;
}

nav,
.siteNav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

.socialNav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 10px;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 30;
}

.socialNav a {
  color: #fff5f5;
  margin: 10px;
}

.socialNav a:hover {
  color: #E84855;
}

.icon {
  font-size: 2rem;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.about {
  background-color: #212121;
  -webkit-box-shadow: 0 0 10px 10px #212121;
          box-shadow: 0 0 10px 10px #212121;
  padding: 100px 0;
  position: relative;
  z-index: 0;
}

.aboutWrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
}

.aboutWrapper .headShot {
  margin-right: 25px;
  width: calc(30% - 25px);
  z-index: 20;
}

.aboutWrapper .bio {
  color: #fff5f5;
  margin-left: 25px;
  width: calc(60% - 25px);
  z-index: 20;
}

.bio h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
}

.bio h2 .h2Span {
  color: #E84855;
  display: block;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.bio p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
}

.bio .bioSpan {
  color: #E84855;
  display: block;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0;
  text-transform: uppercase;
}

.aboutOverlay {
  background: linear-gradient(45deg, transparent 15%, #00B4A3 15%, transparent 15.5%, transparent 45.5%, #E84855 46%, transparent 46%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  z-index: 10;
}

.aboutOverlay2 {
  background: linear-gradient(-45deg, transparent 70%, #00B4A3 70.5%, transparent 70.5%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.skillsWrapper,
.container {
  background-color: #212121;
  -webkit-box-shadow: 0 0 10px 10px #212121;
          box-shadow: 0 0 10px 10px #212121;
  margin: 0 auto;
  padding: 60px 0;
}

.container {
  background-color: #212121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (85px)[10];
      grid-template-columns: repeat(10, 85px);
  grid-column-gap: 5px;
  width: 80%;
  position: relative;
  padding: 100px auto;
}

.item {
  grid-column: span 2;
  width: 200px;
  padding: 0 0 231px 0;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
  margin-top: -50px;
}

.item:nth-child(9n+1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.item:nth-child(9n+2) {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.item:nth-child(9n+3) {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.item:nth-child(9n+4) {
  -ms-grid-column: 7;
      grid-column-start: 7;
}

.item:nth-child(9n+5) {
  -ms-grid-column: 9;
      grid-column-start: 9;
}

.item:nth-child(9n+6) {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.item:nth-child(9n+7) {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.item:nth-child(9n+8) {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.item:nth-child(9n) {
  -ms-grid-column: 8;
      grid-column-start: 8;
}

.hexagon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(-30deg, #00B4A3 0%, transparent 65%);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  text-align: center;
}

.hexagon p {
  color: #fff5f5;
  font-size: 1.44rem;
  text-shadow: 1px 1px 1px #212121;
}

.item * {
  visibility: visible;
}

@media (max-width: 1100px) {
  .container {
    -ms-grid-columns: (100px)[8];
        grid-template-columns: repeat(8, 100px);
    width: 830px;
  }
  .item:nth-child(7n+1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .item:nth-child(7n+2) {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .item:nth-child(7n+3) {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .item:nth-child(7n+4) {
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
  .item:nth-child(7n+5) {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .item:nth-child(7n+6) {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .item:nth-child(7n) {
    -ms-grid-column: 6;
        grid-column-start: 6;
  }
}

@media (max-width: 850px) {
  .container {
    -ms-grid-columns: (100px)[6];
        grid-template-columns: repeat(6, 100px);
    width: 620px;
  }
  .item:nth-child(5n+1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .item:nth-child(5n+2) {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .item:nth-child(5n+3) {
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .item:nth-child(5n+4) {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .item:nth-child(5n) {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

@media (max-width: 720px) {
  .container {
    -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
    width: 410px;
  }
  .item:nth-child(3n+1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .item:nth-child(3n+2) {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .item:nth-child(3n) {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

.projects {
  background-color: #212121;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.projects h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
}

.projects h2 .h2Span {
  color: #E84855;
  display: block;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

h3 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.07rem;
  font-weight: lighter;
  letter-spacing: 3px;
}

.project1Text {
  margin-right: 30px;
  width: calc(50% - 30px);
}

.projectTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectTags .projectTagItem {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
}

.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectLinks a {
  border: 1px solid #fff5f5;
  color: #fff5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2;
  margin-right: 20px;
  padding: 5px;
  text-transform: uppercase;
}

.projectText {
  width: 50%;
}

.projectDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introDescription {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introDescription .introScreen {
  border: 20px solid #000;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 30px 10px #E84855, 0px 0px 45px 15px #00B4A3;
          box-shadow: 0px 0px 30px 10px #E84855, 0px 0px 45px 15px #00B4A3;
  height: auto;
  margin: 20px 0;
  width: auto;
  padding: 3%;
}

.visuals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50%;
}

.visuals .mobile {
  border: 15px solid #000;
  border-radius: 20px;
  height: 250px;
  margin: 30px;
  width: 150px;
  padding: 2%;
}

.visuals .laptop {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.visuals .laptop .desktopScreen {
  border: 20px solid #000;
  border-radius: 20px;
  height: 250px;
  margin: 30px 0;
  width: 400px;
  padding: 2%;
}

.visuals .laptop .desktopKey {
  border: 10px solid #000;
  border-radius: 20px;
  margin: 10px;
  width: 450px;
  padding: 0;
}

.project5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
  position: relative;
}

.project5 .project5Tag {
  color: #00B4A3;
}

.project5 .project5Mobile1 {
  background: url("../assets/project5_mobile1.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
  position: absolute;
  bottom: -20%;
  right: 65%;
  z-index: 20;
}

.project5 .project5Mobile2 {
  background: url("../assets/project5_mobile2.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
  position: absolute;
  bottom: -15%;
  right: 0%;
  z-index: 20;
}

.project5 .project5Laptop {
  position: absolute;
  right: 5%;
}

.project5 .project5Laptop .project5Screen {
  background: url("../assets/project5_desktop.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

.project5 .project5Laptop .project5Key {
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

.project5Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

.project6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
  position: relative;
}

.project6 .project6Tag {
  color: #E84855;
}

.project6 .project6Mobile {
  background: url("../assets/project6_mobile.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
  position: absolute;
  bottom: -10%;
  right: 0%;
  z-index: 20;
}

.project6 .project6Laptop {
  position: absolute;
  right: 5%;
}

.project6 .project6Laptop .project6Screen {
  background: url("../assets/project6_desktop.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
}

.project6 .project6Laptop .project6Key {
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
}

.project6Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
}

.project4Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

.project1Links a:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
}

.project4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
  position: relative;
}

.project4 .project4Tag {
  color: #00B4A3;
}

.project4 .project4Mobile {
  background: url("../assets/project4_mobile.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
  position: absolute;
  bottom: -10%;
  right: 55%;
  z-index: 20;
}

.project4 .project4Laptop {
  position: absolute;
  right: 0;
}

.project4 .project4Laptop .project4Screen {
  background: url("../assets/project4_desktop.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

.project4 .project4Laptop .project4Key {
  -webkit-box-shadow: 0px 0px 30px 5px #00B4A3;
          box-shadow: 0px 0px 30px 5px #00B4A3;
}

.project1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
  position: relative;
}

.project1 .project1Tag {
  color: #E84855;
}

.project1 .project1Mobile {
  background: url("../assets/project1_mobile.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
  position: absolute;
  bottom: -25%;
  right: 55%;
  z-index: 20;
}

.project1 .project1Laptop {
  position: absolute;
  right: 0;
}

.project1 .project1Laptop .project1Screen {
  background: url("../assets/project1_desktop.png");
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
}

.project1 .project1Laptop .project1Key {
  -webkit-box-shadow: 0px 0px 30px 5px #E84855;
          box-shadow: 0px 0px 30px 5px #E84855;
}

.blog {
  background-color: #212121;
  position: relative;
}

.blogGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.blogGrid .blogItem {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 10px;
  min-width: 300px;
  width: calc(33.3% - 20px);
}

.blogImage {
  width: 275px;
}

.blogImage img {
  height: 200px;
}

.blog h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
  text-align: center;
  margin: 0 auto;
}

.blog h2 .h2Span {
  color: #E84855;
  display: block;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.blogTitle h4 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 0;
}

.blogTitle h5 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #E84855;
  margin-top: 10px;
}

.values {
  background-color: #212121;
  padding: 100px 0;
}

.values h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
}

.values h2 span {
  color: #E84855;
  display: block;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.values h5 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #fff5f5;
  margin: 0;
}

.values h6 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #E84855;
  margin: 20px 0;
}

.valuesGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.valuesGrid .valuesItem {
  width: 50%;
}

.valuesGrid .valuesItem:nth-child(2n) {
  padding-left: 25px;
}

.contact {
  background-color: #212121;
}

.contact h2 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 2.49rem;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 0;
}

.contact h2 span {
  color: #E84855;
  display: block;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0;
}

.contact h5 {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #E84855;
}

.contactNav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}

.contactNav .contactTitle {
  width: 50%;
}

.contactNav .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.contactNav .contactIcons a {
  color: #fff5f5;
}

.contactNav .contactIcons a:hover {
  color: #E84855;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

input,
textarea {
  margin: 10px 0;
  padding: 5px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #141414;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #141414;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #141414;
}

input::placeholder,
textarea::placeholder {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #141414;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 10px #00B4A3;
          box-shadow: 0 0 10px #00B4A3;
}

input, select, textarea {
  color: #fff5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #212121;
}
/*# sourceMappingURL=styles.css.map */